{% extends "layout.html" %}
{% autoescape None %}
{% block body %}
<link rel="stylesheet" href="{{static_url('starter-template.css')}}" crossorigin="anonymous">
<link rel="stylesheet" href="{{static_url('bubble.css')}}" crossorigin="anonymous">
<link rel="stylesheet" href="{{static_url('progressjs.min.css')}}" crossorigin="anonymous">
<link rel="stylesheet" href="{{static_url('default.min.css')}}" crossorigin="anonymous">
<link rel="stylesheet" href="{{static_url('monokai-sublime.css')}}" crossorigin="anonymous">
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">robo-chat-demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">会话</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/configpage">配置</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logpage">日志</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron">

</div>

<div class="container">


<div class="container" id="container">
  <div class="history">    
  </div><!-- <div class="history"> -->

  <div class="query-form">
    <center>
      <form class="form-row" action="#">
        <label for="query" class="col-sm-2 col-form-label col-form-label-lg">说句话：</label>
        <div class="col-7">
          <input type="text" class="form-control" name="query" id="query" placeholder="{{suggestion}}" required autofocus>    </div>
        &nbsp;
        <button type="submit" class="btn btn-primary mb-2 CHAT"><i class="fas fa-comment"></i> 发送</button>
      </form>
    </center>
  </div><!-- <div class="query-form"> -->


  <hr class="divider">


<br/>



<script src="./static/highlight.min.js"></script>
<script src="./static/markdown-it.min.js"></script>
<script src="{{static_url('main.js')}}" crossorigin="anonymous"></script>
<script src="{{static_url('index.js')}}" crossorigin="anonymous"></script>
<script src="./static/recorder.min.js"></script>
<script src="./static/progress.min.js"></script>
{% end %}
